on:
  push:
    branches:
      - main

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    environment: release-please
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      prs: ${{ steps.release.outputs.prs }}
    steps:
      - id: release
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.RELEASE_PLEASE_GH_TOKEN }}
          config-file: .release-please/config.json
          manifest-file: .release-please/manifest.json

  npm-publish:
    runs-on: ubuntu-latest
    needs: release-please
    if: needs.release-please.outputs.release_created
    environment: npm
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          registry-url: "https://registry.npmjs.org"
      - run: npm ci
      - run: npm run build
      - run: npm publish

  # tag-published:
  #   runs-on: ubuntu-latest
  #   needs: npm-publish
  #   permissions:
  #     pull-requests: write
  #   steps:
  #     - uses: actions/github-script@v6
  #       with:
  #         script: |
  #           const prs = JSON.parse("${{ needs.release-please.outputs.prs }}")
  #           for (const pr of prs) {
  #             github.rest.issues.addLabels({
  #               issue_number: pr.number,
  #               owner: context.repo.owner,
  #               repo: context.repo.repo,
  #               labels: ["autorelease: published"]
  #             })
  #           }
