name: Test

on:
  push:
    branches: [main]
  pull_request:

# TODO: Split into separate install, lint, build, and test steps, using actions/cache
#       to share data between the jobs.
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
      - run: npm ci
      - run: npm run lint
      - run: npm run typecheck
      # - run: npm run test:cover
      # - uses: codecov/codecov-action@v3
